@page
@model WeddingWebsite.Pages.AccessDeniedModel
@{
    Layout = "_FullWidthLayout";

    ViewData["Title"] = "Access Denied";
}

<div class="section section-blue section-bottom-border">
    <div class="container">
        <div class="text-center p-4">
            <h3 class="header text-center" style="font-size: 3em; padding-top: 30px;">
                Hmm, not sure we know you?
            </h3>
            <p class="fw-bold p-4">
                Please use the link we sent you or contact Harry/Sinead and we'll get one over to you ASAP!
            </p>
            <p class="fw-bold p-4">
                If you are looking for the gifts page, <a asp-action="Index" asp-controller="Gifts">please click here</a>
            </p>
        </div>
    </div>
</div>