@page
@model EditUserModel
@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form action="/Email/SendInvite?ids=@Model.Input.Id" method="post">
        <button id="" type="submit" class="btn btn-lg btn-primary">Send Invite</button>
    </form>
    <form action="/Email/SendInvite?ids=@Model.Input.Id&isTest=true" method="post">
        <button id="" type="submit" class="btn btn-lg btn-primary">Send Test Invite</button>
    </form>
</div>

<div class="row">
    <div class="col-md-4 mx-auto">
        <form id="registerForm" method="post">
            <input type="hidden" asp-for="Input.Id" />
            <h2>Edit User</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Name" class="form-control" aria-required="true" />
                <label asp-for="Input.Name"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.GuestName" class="form-control" aria-required="true" />
                <label asp-for="Input.GuestName"></label>
                <span asp-validation-for="Input.GuestName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.GuestEmail" class="form-control" aria-required="true" />
                <label asp-for="Input.GuestEmail"></label>
                <span asp-validation-for="Input.GuestEmail" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.GroupName" class="form-control" aria-required="true" />
                <label asp-for="Input.GroupName"></label>
                <span asp-validation-for="Input.GroupName" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
