@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="section-orange ">
    <div class="container text-center">
        <div class="header top-banner-header" style="padding: 10px 0px;">
            Alex and Charlie
        </div>
        <div style="padding-bottom: 20px;font-weight:bold;font-style:italic;">
            We really hope you're free in October next year because...
        </div>
    </div>
</div>

<div style="min-height: 600px; width: 100%;">
    <div class="section-bg-img"></div>
    <div class="container">
        <div class="row row-flex">
            <div class="col-md-4 col-sm-6">
                <div class="polaroid polaroid-r-r polaroid-d img-center" style="max-width: 250px">
                    <div class="polaroid-img">
                        <div class="gloss"></div>
                        <img src="/img/engaged.jpg" />
                    </div>
                    <div class="polaroid-text">
                        Just Engaged!
                    </div>
                </div>
                <div class="polaroid polaroid-r-l polaroid-d img-center" style="max-width: 250px; margin-top:20px; transform: rotate(-10deg)">
                    <div class="polaroid-img">
                        <div class="gloss"></div>
                        <img src="/img/naynay.jpg" />
                    </div>
                    <div class="polaroid-text">
                        Definitely punchin'
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 order-sm-0 d-flex align-items-center justify-content-center text-center">
                <div>
                    <div class="">
                        <div class="name">Harry</div>
                        <div class="name text-center" style="font-size: 2.5em">&</div>
                        <div class="name">Sinead</div>
                    </div>
                    <div class="sub-header">Are getting married!</div>
                </div>
            </div>
            <div class="col-md-4 d-none d-md-block">
                <div class="polaroid polaroid-r-l img-center" style="max-width: 250px">
                    <div class="polaroid-img">
                        <div class="gloss"></div>
                        <img src="/img/beers.jpg" />
                    </div>
                    <div class="polaroid-text">
                    </div>
                </div>
                <div class="polaroid polaroid-r-r img-center" style="max-width: 250px;">
                    <div class="polaroid-img">
                        <div class="gloss"></div>
                        <img src="/img/thieves.jpg" />
                    </div>
                    <div class="polaroid-text">
                        Bonny & Clyde?
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*
<div class="section section-1 section-bottom-border d-flex align-items-center justify-content-center text-center">
    <div class="container">
        <div class="row row-flex">
            <div class="col-md-4">
                <div class="polaroid polaroid-r-r polaroid-d img-center" style="max-width: 250px">
                    <div class="polaroid-img">
                        <div class="gloss"></div>
                        <img src="/img/engaged.jpg" />
                    </div>
                    <div class="polaroid-text">
                        Just Engaged!
                    </div>
                </div>
                <div class="polaroid polaroid-r-l polaroid-d img-center" style="max-width: 250px; margin-top:20px; transform: rotate(-10deg)">
                    <div class="polaroid-img">
                        <div class="gloss"></div>
                        <img src="/img/naynay.jpg" />
                    </div>
                    <div class="polaroid-text">
                        Definitely punchin
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div>
                    <div class="">
                        <div class="name">Harry</div>
                        <div class="name" style="font-size: 2.5em">&</div>
                        <div class="name">Sinead</div>
                    </div>
                    <div class="sub-header">Saturday 7th October 2023</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="polaroid polaroid-r-l img-center" style="max-width: 250px">
                    <div class="polaroid-img">
                        <div class="gloss"></div>
                        <img src="/img/beers.jpg" />
                    </div>
                    <div class="polaroid-text">
                    </div>
                </div>
                <div class="polaroid polaroid-r-r img-center" style="max-width: 250px;">
                    <div class="polaroid-img">
                        <div class="gloss"></div>
                        <img src="/img/thieves.jpg" />
                    </div>
                    <div class="polaroid-text">
                        Bonny & Clyde?
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="section section-blue section-bottom-border">
    <div class="container">
        <h3 class="header text-center" style="font-size: 3em; padding-top: 30px;">
            Save the date!
        </h3>
    </div>
</div>
<div class="section section-green section-bottom-border">
    <div class="container">
        <h3 class="header text-center" style="font-size: 3em; padding-top: 30px;">
            Save the dates!
        </h3>
    </div>
</div>
<div class="section section-purple section-bottom-border">
    <div class="container">
        <h3 class="header text-center" style="font-size: 3em; padding-top: 30px;">
            Save the dates!
        </h3>
    </div>
</div>

@*<div class="polaroid" style="max-width: 360px">
    <div class="polaroid-img">
    <div class="gloss"></div>
    <img src="https://65.media.tumblr.com/1df9b47361472d169b80673f01b1362d/tumblr_nt2qfhYsW81un5fc4o1_1280.jpg" />
    </div>
    <div class="polaroid-text">
    Magnificent beard
    </div>
    </div>*@