@page "/save-the-date"
@model SaveTheDateModel

@using Microsoft.AspNetCore.Identity
@using WeddingWebsite.Data.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    Layout = "_FullWidthLayout";

    ViewData["Title"] = "Save the Date!!!";
}

<div class="section-orange ">
    <div class="container text-center">
        <div class="header top-banner-header" style="padding: 10px 0px;">
            Dear @Model.Name
        </div>
        <div style="padding-bottom: 20px;font-weight:bold;font-style:italic;">
            We really hope you're free in October next year because...
        </div>
    </div>
</div>

<div style="min-height: 600px; width: 100%;">
    <div class="section-bg-img"></div>
    <div class="container">
        <div class="row row-flex">
            <div class="col-md-4 col-sm-6">
                <div class="polaroid polaroid-r-r polaroid-d img-center" style="max-width: 250px">
                    <div class="polaroid-img">
                        <div class="gloss"></div>
                        <img src="/img/engaged.jpg" />
                    </div>
                    <div class="polaroid-text">
                        Just Engaged!
                    </div>
                </div>
                <div class="polaroid polaroid-r-l polaroid-d img-center" style="max-width: 250px; margin-top:20px; transform: rotate(-10deg)">
                    <div class="polaroid-img">
                        <div class="gloss"></div>
                        <img src="/img/naynay.jpg" />
                    </div>
                    <div class="polaroid-text">
                        Definitely punchin'
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 order-sm-0 d-flex align-items-center justify-content-center text-center">
                <div>
                    <div class="">
                        <div class="name">Harry</div>
                        <div class="name text-center" style="font-size: 2.5em">&</div>
                        <div class="name">Sinead</div>
                    </div>
                    <div class="sub-header">Are getting married!</div>
                </div>
            </div>
            <div class="col-md-4 d-none d-md-block">
                <div class="polaroid polaroid-r-l img-center" style="max-width: 250px">
                    <div class="polaroid-img">
                        <div class="gloss"></div>
                        <img src="/img/beers.jpg" />
                    </div>
                    <div class="polaroid-text">
                    </div>
                </div>
                <div class="polaroid polaroid-r-r img-center" style="max-width: 250px;">
                    <div class="polaroid-img">
                        <div class="gloss"></div>
                        <img src="/img/thieves.jpg" />
                    </div>
                    <div class="polaroid-text">
                        Bonny & Clyde?
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-purple section-bottom-border">
    <div class="container">
        <h3 class="header text-center" style="font-size: 5em; padding-top: 30px;">
            Save the date!
        </h3>
        <div class="sub-header text-center" style="padding: 30px 0;">
            Saturday 7th October 2023 in Lagos, Portugal
        </div>


        <div class="row">
            <div class="col-md-7 mx-auto">

                <div class="">
                    <div class="text-center fw-bold">
                        <p>One day isn't enough for all the fun we have planned, so we will be celebrating from Friday 6th through til Tuesday 10th! You are welcome to join us for as much of it as you wish.</p>
                        <p>Many more details to come soon!!!</p>
                        <p>~~~</p>
                        <p class="">
                            There are various accommodation options which we will share, but for now to help us gauge initial interest please let us know if you think you would be interested in staying for 4 nights on site.
                            This is 100% non-commital at the moment but will help us with our planning!
                        </p>

                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 mx-auto">
                            @if (Model.CanSubmit)
                            {
                                <form method="post">
                                    <div class="mb-3">
                                        <label asp-for="Input.Answer" class="form-label">@(Model.CurrentUser.Name ?? "Guest 1")?</label>

                                        <select asp-for="Input.Answer" class="form-select" aria-label="Default select example" required>
                                            <option selected></option>
                                            <option value="definitely">Abso-bloody-lutely!</option>
                                            <option value="maybe">Not sure just yet</option>
                                        </select>
                                    </div>

                                    @if (!string.IsNullOrWhiteSpace(Model.CurrentUser.GuestName))
                                    {
                                        <div class="mb-3">
                                            <label asp-for="Input.GuestAnswer" class="form-label">@Model.CurrentUser.GuestName?</label>

                                            <select asp-for="Input.GuestAnswer" class="form-select" aria-label="Default select example" required>
                                                <option selected></option>
                                                <option value="definitely">Abso-bloody-lutely!</option>
                                                <option value="maybe">Not sure just yet</option>
                                            </select>
                                        </div>
                                    }
                                    <div class="mb-3">
                                        <input class="btn btn-warning" style="background-color:darkorange" type="submit" value="Submit" />
                                    </div>
                                    <p class="text-center fw-bold">~~~</p>
                                </form>
                            }
                            else
                            {
                                <p class="text-center fw-bold">Thank you for letting us know! Click <a asp-page="SaveTheDate" asp-route-update="true">here</a> to update your response.</p>
                                <p class="text-center fw-bold">~~~</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto" style="margin-top: 60px">
            <div class="polaroid polaroid-r-r img-center" style="max-width: 400px">
                <div class="polaroid-img">
                    <video src="/video/sinead_pool.mp4" preload="auto" controls style="width: 100%; height: auto">
                    </video>
                </div>
                <div class="polaroid-text">
                    Come to the wedding...?
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="section section-blue section-bottom-border">
    <div class="container">
    </div>
    </div>*@

@*<div class="section section-blue section-bottom-border">
    <div class="container">
    <h3 class="header text-center" style="font-size: 3em; padding-top: 30px;">
    Save the date!
    </h3>
    </div>
    </div>
    <div class="section section-green section-bottom-border">
    <div class="container">
    <h3 class="header text-center" style="font-size: 3em; padding-top: 30px;">
    Save the dates!
    </h3>
    </div>
    </div>*@