<div class="row">
    <div class="col-md-8 mb-4 mb-lg-0">
        <img src="/img/villas/appartment1.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>

    <div class="col-md-4 mb-4 mb-lg-0">
        <img src="/img/villas/appartment2.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />

        <img src="/img/villas/appartment3.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>
</div>
<div class="mt-4 mb-4">
    <p>We will be based at CMC villas for the duration of the celebrations, where we are taking over 4 villas each with their own pools and facilities.</p>
    <p>We've provisionally reserved you accommodation in the apartments with the rest of the bridal party, if you would like it.</p>
    <p>Cost: €200 per person</p>
    <p>This includes:</p>
    <ul>
        <li>4 nights, including breakfast</li>
        <li>Mixture of double and twin rooms</li>
        <li>En-suite</li>
        <li>Swimming pool</li>
        <li>Hot tub</li>
        <li>Table tennis</li>
        <li>Pool table</li>
        <li>Kitchen</li>
    </ul>
</div>
<div class="row"> 
    <div class="col-md-4 mb-4 mb-lg-0">
        <img src="/img/villas/appartment4.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>

    <div class="col-md-4 mb-4 mb-lg-0">
        <img src="/img/villas/appartment5.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>

    <div class="col-md-4 mb-4 mb-lg-0">
        <img src="/img/villas/appartment6.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>
</div>