


<section class="text-black">
    <p class="text-center mb-5">
        If you have any other questions don't hesitate to reach out to us!
    </p>
    <div class="mb-4">
        <h4 class="mb-3">
            <i class="bi bi-basket pe-2"></i>
            Is there a shop nearby?
        </h4>
        <p>
            The nearest shops and supermarket are in town, so unfortunately not just around the corner by foot.
        </p>
    </div>

    <div class="mb-4" id="food">
        <h4 class="mb-3">
            <i class="bi bi-cup-straw pe-2"></i>
            What is the food and drink situation if I'm staying on site?
        </h4>
        <p>
            Food is important so to be completely clear this is what will be included:
            <ul>
                <li>Friday evening pizzas</li>
                <li>Saturday breakfast buffet delivered to each villa</li>
                <li>Villa ‘supplies’ for a quick sandwich before the ceremony</li>
                <li>Canapes, BBQ wedding breakfast and some evening food</li>
                <li>Sunday brunch and an early evening basic BBQ</li>
                <li>Monday breakfast buffet served at the villas again to set you up for the day</li>
                <li>Tuesday before leaving remaining villa ‘supplies’</li>
            </ul>

            Drink is even more important.
            </p>
        <p>
            Alcohol will be provided for Friday evening through til Sunday brunch, and there is an on site ‘honesty bar’ at each villa where beers, ciders, soft drinks etc cost 1 euro and wine approximately 7 euros a bottle. 
            If there is anything in particular that you after, you are more than welcome to bring it along.
            The villas also operate a whatsapp order service if you want to order any alcohol or drinks that are not stocked on site.
        </p>
        <p>
            <span class="fw-bold">Please note they are CASH ONLY so bring your euros!</span>
        </p>
        <p>
            We will be supplying each villa with some basics eg cereal, bread, cheese, meats to keep you going over the 4 days. We would suggest buying anything specific you may want or if you are a very hungry person.

        </p>
    </div>

    <div class="mb-4" id="food">
        <h4 class="mb-3">
            <i class="bi bi-fire pe-2"></i>
            Do I need to make a meal choice?
        </h4>
        <p>
            Our wedding breakfast is a professionally cooked BBQ feast. There will be a selection of local meats, seafood and vegetarian options, so no need to make a specific choice.
            Please let us know in your RSVP if you have any dietary requirements.
        </p>
    </div>

    <div class="mb-4">
        <h4 class="mb-3">
            <i class="bi bi-piggy-bank pe-2"></i>
            I want to stay on site! How do I pay?
        </h4>
        <p>
            We will reach out to you when your room has been confirmed. To be fair to everyone, we’ll require payment ASAP to avoid ‘holding’ rooms which end up not being taken.
        </p>
    </div>

    <div class="mb-4">
        <h4 class="mb-3">
            <i class="bi bi-house-check pe-2"></i>
            When do I need to RSVP by?
        </h4>
        <p>
            For staying on site: 31st January 2023 (though please remember, it is first come first served for the villa accommodation) <br />
            For the other activities: 31st May 2023
        </p>
    </div>


    <div class="mb-4">
        <h4 class="mb-3">
            <i class="bi bi-send pe-2"></i>
            How do I RSVP?
        </h4>
        <p>
            <a asp-page="/register">HERE</a> is the link to our RSVP page! Any questions please reach out to one of us.
        </p>
    </div>

    <div class="mb-4">
        <h4 class="mb-3">
            <i class="bi bi-android pe-2"></i>
            What should I wear?
        </h4>
        <p>
            
        </p>
    </div>

    <div class="mb-4">
        <h4 class="mb-3">
            <i class="bi bi-sun pe-2"></i>
            How’s the weather?
        </h4>
        <p>
        </p>
    </div>


    <div class="mb-4">
        <h4 class="mb-3">
            <i class="bi bi-signpost-split pe-2"></i>
            What should I do on the Monday?
        </h4>
        <p>

        </p>
    </div>
</section>