


<section class="text-black">
    <div class="text-center mb-3">
        <a class="btn btn-primary text-light" style="padding-right: 20px; padding-left: 20px" asp-area="" asp-page="/Register">RSVP</a>
    </div>
    <div class="text-center mb-5">
        If you have any other questions don't hesitate to reach out to us!
    </div>

    <div class="mb-4">
        <h4 class="mb-3">
            <i class="bi bi-house-heart pe-2"></i>
            I want to stay on site! How do I do this?
        </h4>
        <p>
            Accommodation is €200 per person for the 4 night package. More information can be found on the <a asp-page="/Accommodation">accommodation page</a>.

        </p>

        <p>
            Let us know in your RSVP if you're interested, available rooms will be allocated on first come first serve basis.
        </p>

        <p>
            There are a mixture of double and twin rooms. If you are travelling solo we promise to put you in a room with someone you know and love or someone you'll get to know and grow to love.

        </p>

        <p>
            We will reach out to you when your room has been confirmed and provide payment details. Full payment should be made by June 30th 2023.
        </p>
    </div>

    <div class="mb-4">
        <h4 class="mb-3">
            <i class="bi bi-houses pe-2"></i>
            Alternative accommodation
        </h4>

        <p>
            There are a variety of unaffiliated smaller villas in the immediate area (minutes walk away) for those wanting some more privacy, a slightly cheaper option, only able to stay for a couple of nights or for those who want some additional space.

        </p>
        <p>
            Please let us know if you choose one of these, as we would obviously like to include you in the on site celebrations and breakfasts where relevant.
        </p>
        <p>
            Additionally, there are of course Airbnbs and hotels in the town of Lagos. It is an approximately 10 minute taxi ride from the town centre to the villas. It is approximately 30-40 minutes walking, but fairly hilly so only advise this for those who are after a cardio workout!
        </p>
    </div>

    <div class="mb-4" id="food">
        <h4 class="mb-3">
            <i class="bi bi-cup-straw pe-2"></i>
            What is the food and drink situation if I'm staying on site?
        </h4>
        <p>
            Food is important so to be completely clear this is what will be included:
            <ul>
                <li>Friday evening pizzas</li>
                <li>Saturday breakfast buffet delivered to each villa</li>
                <li>Villa ‘supplies’ for a quick sandwich before the ceremony</li>
                <li>Canapes, BBQ wedding breakfast and some evening food</li>
                <li>Sunday brunch and an early evening basic BBQ</li>
                <li>Monday breakfast buffet served at the villas again to set you up for the day</li>
                <li>Tuesday before leaving remaining villa ‘supplies’</li>
            </ul>

            Drink is even more important.
        </p>
        <p>
            Alcohol will be provided for Friday evening through til Sunday brunch, and there is an on site ‘honesty bar’ at each villa where beers, ciders, soft drinks etc cost 1 euro and wine approximately 7 euros a bottle.
            If there is anything in particular that you are after, you are more than welcome to bring it along.
            The villas also operate a whatsapp order service if you want to order any alcohol or drinks that are not stocked on site.
        </p>
        <p>
            <span class="fw-bold">Please note they are CASH ONLY so bring your euros!</span>
        </p>
        <p>
            We will be supplying each villa with some basics eg cereal, bread, cheese, meats to keep you going over the 4 days. We would suggest buying anything specific you may want or if you are a very hungry person.

        </p>
    </div>

    <div class="mb-4">
        <h4 class="mb-3">
            <i class="bi bi-basket pe-2"></i>
            Is there a shop nearby?
        </h4>
        <p>
            The nearest shops and supermarket are in town, so unfortunately not just around the corner by foot.
        </p>
    </div>

    <div class="mb-4" id="food">
        <h4 class="mb-3">
            <i class="bi bi-fire pe-2"></i>
            Do I need to make a meal choice?
        </h4>
        <p>
            Our wedding breakfast is a professionally cooked BBQ feast. There will be a selection of local meats, seafood and vegetarian options, so no need to make a specific choice.
            Please let us know in your RSVP if you have any dietary requirements.
        </p>
    </div>

    <div class="mb-4">
        <h4 class="mb-3">
            <i class="bi bi-stopwatch pe-2"></i>
            When do I need to RSVP by?
        </h4>
        <p>
            For staying on site: 31st January 2023 (though please remember, it is first come first served for the villa accommodation) <br />
            For the other activities: 31st May 2023
        </p>
    </div>


    <div class="mb-4">
        <h4 class="mb-3">
            <i class="bi bi-send pe-2"></i>
            How do I RSVP?
        </h4>
        <p>
            <a asp-page="/register">HERE</a> is the link to our RSVP page! Any questions please reach out to one of us.
        </p>
    </div>

    <div class="mb-4">
        <h4 class="mb-3">
            <i class="bi bi-android2 pe-2"></i>
            What should I wear?
        </h4>
        <p>

            No strict dress code for anything - we want you to be comfortable! For those who appreciate a little more guidance however…
            <ul>
                <li>Pizza party - smart casual cocktail party vibe</li>
                <li>Wedding day - we’d love you to dress up and get suited and booted, but no tie necessary for the lads (unless you want to wear one!)</li>
                <li>Brunch - summer dress beach party vibe</li>
            </ul>
        </p>
    </div>

    <div class="mb-4">
        <h4 class="mb-3">
            <i class="bi bi-gift pe-2"></i>
            What about a gift?
        </h4>
        <p>
            As cliche as it may be, your presence is the only present we need.
            If you insist on a gift, we would certainly appreciate a contribution to our honeymoon in Portugal, but we would really prefer to have you attend the wedding over anything else.
        </p>
    </div>

    <div class="mb-4">
        <h4 class="mb-3">
            <i class="bi bi-signpost-split pe-2"></i>
            What should I do on the Monday?
        </h4>
        <p>
            4 days is a long time so we want to give you the chance to have your own space and enjoy the town of Lagos and the surroundings.
        </p><p>
            There are excellent coastal walks, beaches, shops, bars and cafes to explore right there in Lagos. A bit further out there’s golf and vineyards galore!
        </p><p>
            A bit closer to the time Harry will organise some surfing so let us know if you are interested in that.
        </p><p>
            Of course, if the long weekend has taken it’s toll, you are also free to spend the day by the pool at the villas (or in bed!)
        </p><p>
            We will probably pick a bar in town to meet at for a farewell drink on the Monday night for those who wish to join us.
        </p>
    </div>
</section>