@using Microsoft.AspNetCore.Identity
@using WeddingWebsite.Data.Entities
@using WeddingWebsite.Extensions;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var name = user.GetGroupName();
        <li class="nav-item">
           <span class="nav-link text-dark">Hello @name!</span>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-primary text-light" style="padding-right: 20px; padding-left: 20px" asp-area="" asp-page="/Register">RSVP</a>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
