
<div class="pool">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 400 300" style="enable-background:new 0 0 400 300;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#197BD3;}
	.st1{fill:#EC5E98;}
	.st2{fill:#F8FCFF;}
	.st3{fill:#84487D;}
	.st4{fill:#FFCA9D;}
	.st5{fill:#97DBA5;}
	.st6{fill:#F5AB7F;}
	.st7{fill:#D8EEFF;}
	.st8{fill:#A2B3BF;}
	.st9{opacity:0.36;fill:#76A580;}
	.st10{fill:#414042;}
	.st11{fill:#A97C50;}
	.st12{fill:#FFEB9B;}
	.st13{fill:#F3CC81;}
</style>
  
<g id="coco" style="" transform="matrix(0.12595, 0, 0, 0.135983, 67.882126, 168.116425)">
  <path stroke="rgb(255,0,0)" stroke-width="0" d="M 229.018 108.396 C 241.066 107.458 255.47 110.357 269.557 116.232 C 286.467 123.284 312.488 137.969 322.765 151.488 C 331.355 162.789 333.375 178.782 332.898 189.093 C 332.52 197.289 329.434 202.322 324.452 209.465 C 318.11 218.557 307.252 231.807 294.894 238.453 C 281.899 245.441 256.609 248.901 247.598 249.421 C 243.096 249.682 243.193 247.418 239.154 247.854 C 232.143 248.616 217.534 257.06 207.062 258.825 C 197.294 260.468 187.454 260.88 178.345 258.825 C 169.145 256.746 158.575 251.967 152.167 246.289 C 146.243 241.041 142.589 233.653 140.341 226.701 C 138.112 219.807 137.033 212.279 138.654 204.765 C 140.455 196.399 144.876 185.268 152.167 178.909 C 159.805 172.247 180.309 171.802 184.257 166.373 C 187.036 162.553 181.347 158.691 182.57 153.056 C 184.413 144.551 191.907 126.822 200.305 119.364 C 207.864 112.654 218.284 109.234 229.018 108.396 Z" style="stroke: rgb(129, 151, 57); stroke-width: 2px; fill: #97DBA5;"></path>
  <path id="path0" d="M213.833 102.674 C 205.435 103.137,205.764 103.060,208.833 103.840 C 210.162 104.179,213.463 105.035,216.167 105.743 C 218.871 106.451,222.502 107.398,224.235 107.847 C 225.968 108.297,227.415 108.692,227.449 108.727 C 227.504 108.782,227.967 110.434,228.495 112.458 L 228.680 113.167 230.134 113.167 C 240.065 113.167,255.404 115.534,268.455 119.081 C 270.154 119.543,277.243 121.906,278.630 122.473 C 279.284 122.740,279.527 122.779,279.574 122.625 C 279.683 122.263,281.479 113.614,281.590 112.915 L 281.696 112.247 279.973 111.629 C 266.430 106.774,250.135 103.580,234.678 102.753 C 229.724 102.488,218.014 102.444,213.833 102.674 M295.675 121.299 C 295.374 122.739,294.885 125.214,294.588 126.800 L 294.047 129.683 295.899 130.781 C 327.963 149.809,331.000 179.102,303.062 199.867 C 300.159 202.025,299.420 202.516,294.750 205.386 C 273.148 218.662,236.438 225.125,204.250 221.320 C 202.692 221.135,200.779 220.911,200.000 220.822 C 197.925 220.583,194.128 219.927,189.849 219.068 C 186.325 218.361,185.214 218.097,180.349 216.813 C 178.079 216.214,172.286 214.373,170.417 213.656 C 169.683 213.375,168.645 212.996,168.108 212.813 C 167.572 212.631,166.710 212.293,166.192 212.063 C 165.674 211.833,164.462 211.320,163.500 210.923 C 161.029 209.904,155.168 206.954,152.460 205.367 L 150.171 204.024 148.127 204.576 C 147.003 204.880,142.474 206.116,138.062 207.323 L 130.040 209.517 124.895 208.182 C 122.065 207.447,117.013 206.131,113.667 205.257 C 110.321 204.383,107.546 203.668,107.500 203.667 C 107.070 203.661,108.211 214.898,109.175 220.167 C 120.094 279.852,175.055 321.227,235.250 315.078 C 308.730 307.571,356.768 234.500,334.485 164.132 C 327.520 142.137,318.059 130.883,296.320 118.736 C 296.266 118.706,295.976 119.859,295.675 121.299 " stroke="none" fill="#6b5444" fill-rule="evenodd"></path>
  <path id="path1" d="M168.476 98.792 C 155.782 109.880,143.333 120.894,143.333 121.036 C 143.333 121.192,144.570 122.829,147.083 126.000 C 147.555 126.596,149.318 128.846,151.000 131.000 C 153.886 134.697,154.565 135.561,156.722 138.292 C 157.211 138.910,159.923 142.379,162.749 146.000 C 165.575 149.621,168.276 153.071,168.752 153.667 C 169.228 154.262,172.050 157.862,175.023 161.667 C 181.524 169.984,188.219 178.535,192.761 184.322 C 194.600 186.666,196.187 188.583,196.288 188.583 C 196.389 188.583,200.353 184.646,205.098 179.833 C 209.843 175.021,218.606 166.147,224.571 160.114 C 230.536 154.080,235.437 149.087,235.462 149.018 C 235.487 148.949,233.687 148.347,231.462 147.680 C 227.681 146.546,209.781 141.140,201.917 138.756 C 196.109 136.996,192.326 135.853,179.000 131.832 C 163.431 127.133,159.658 125.993,152.500 123.824 C 149.429 122.893,146.146 121.904,145.204 121.625 C 144.263 121.347,143.520 121.091,143.554 121.057 C 143.602 121.009,175.539 116.966,182.167 116.168 C 185.134 115.811,189.394 115.281,193.583 114.747 C 196.058 114.432,200.521 113.871,203.500 113.500 C 206.479 113.130,210.042 112.682,211.417 112.505 C 212.792 112.328,216.429 111.873,219.500 111.493 C 222.571 111.114,225.098 110.790,225.116 110.773 C 225.143 110.746,218.772 109.074,199.583 104.074 C 197.383 103.500,190.098 101.599,183.394 99.849 C 176.690 98.099,171.138 96.667,171.057 96.667 C 170.975 96.667,169.814 97.623,168.476 98.792 M220.886 102.458 C 222.427 102.486,224.902 102.486,226.386 102.458 C 227.869 102.430,226.608 102.408,223.583 102.408 C 220.558 102.408,219.344 102.431,220.886 102.458 M214.628 102.621 C 214.928 102.658,215.378 102.657,215.628 102.619 C 215.878 102.581,215.633 102.551,215.083 102.552 C 214.533 102.553,214.328 102.584,214.628 102.621 M231.795 102.621 C 232.094 102.658,232.544 102.657,232.795 102.619 C 233.045 102.581,232.800 102.551,232.250 102.552 C 231.700 102.553,231.495 102.584,231.795 102.621 M211.295 102.787 C 211.594 102.825,212.044 102.824,212.295 102.786 C 212.545 102.748,212.300 102.717,211.750 102.718 C 211.200 102.719,210.995 102.750,211.295 102.787 M234.961 102.787 C 235.261 102.825,235.711 102.824,235.961 102.786 C 236.212 102.748,235.967 102.717,235.417 102.718 C 234.867 102.719,234.662 102.750,234.961 102.787 M230.625 113.289 C 231.015 113.324,231.652 113.324,232.042 113.289 C 232.431 113.254,232.112 113.225,231.333 113.225 C 230.554 113.225,230.235 113.254,230.625 113.289 M234.458 113.451 C 234.665 113.491,235.002 113.491,235.208 113.451 C 235.415 113.411,235.246 113.379,234.833 113.379 C 234.421 113.379,234.252 113.411,234.458 113.451 M236.794 113.618 C 237.001 113.658,237.301 113.656,237.460 113.615 C 237.620 113.573,237.450 113.540,237.083 113.542 C 236.717 113.544,236.586 113.578,236.794 113.618 M238.708 113.782 C 238.869 113.823,239.131 113.823,239.292 113.782 C 239.452 113.740,239.321 113.705,239.000 113.705 C 238.679 113.705,238.548 113.740,238.708 113.782 M87.058 132.880 C 64.961 155.274,65.656 154.559,66.167 154.360 C 66.682 154.160,69.977 152.735,96.667 141.171 C 119.212 131.403,125.279 128.772,129.167 127.080 C 136.751 123.777,142.881 121.159,142.925 121.203 C 142.953 121.231,142.512 121.740,141.946 122.335 C 140.885 123.450,133.768 131.051,122.833 142.749 C 119.396 146.427,113.396 152.840,109.500 157.001 C 105.604 161.162,98.562 168.695,93.851 173.742 C 89.140 178.788,84.261 184.004,83.010 185.333 C 81.758 186.662,79.670 188.884,78.369 190.271 L 76.005 192.792 77.961 193.304 C 79.036 193.586,85.129 195.175,91.500 196.834 C 97.871 198.494,103.758 200.030,104.583 200.247 C 105.867 200.585,109.773 201.606,120.583 204.431 C 127.752 206.304,130.025 206.863,130.113 206.776 C 130.201 206.688,130.867 202.559,131.812 196.250 C 132.151 193.981,133.135 187.484,135.179 174.000 C 135.729 170.379,136.437 165.729,136.753 163.667 C 137.070 161.604,137.626 157.929,137.990 155.500 C 138.354 153.071,139.102 148.121,139.653 144.500 C 142.496 125.801,143.152 121.323,143.076 121.124 C 143.026 120.995,142.428 120.819,141.621 120.695 C 138.561 120.224,135.693 119.766,131.417 119.065 C 128.942 118.659,125.754 118.143,124.333 117.919 C 122.912 117.695,118.044 116.909,113.514 116.172 C 108.985 115.436,105.186 114.833,105.072 114.833 C 104.959 114.833,96.852 122.954,87.058 132.880 M316.000 132.583 C 316.311 132.904,316.603 133.167,316.649 133.167 C 316.695 133.167,316.478 132.904,316.167 132.583 C 315.856 132.262,315.564 132.000,315.518 132.000 C 315.472 132.000,315.689 132.262,316.000 132.583 M317.167 133.713 C 317.167 133.738,317.748 134.319,318.458 135.004 L 319.750 136.250 318.504 134.958 C 317.347 133.759,317.167 133.591,317.167 133.713 M308.583 140.333 C 308.941 140.700,309.272 141.000,309.318 141.000 C 309.363 141.000,309.108 140.700,308.750 140.333 C 308.392 139.967,308.062 139.667,308.016 139.667 C 307.970 139.667,308.225 139.967,308.583 140.333 M310.333 142.083 C 310.831 142.587,311.276 143.000,311.322 143.000 C 311.368 143.000,310.998 142.587,310.500 142.083 C 310.002 141.579,309.557 141.167,309.511 141.167 C 309.466 141.167,309.835 141.579,310.333 142.083 M322.039 165.167 C 322.039 165.487,322.073 165.619,322.115 165.458 C 322.157 165.298,322.157 165.035,322.115 164.875 C 322.073 164.715,322.039 164.846,322.039 165.167 M310.163 193.625 L 308.750 195.083 310.208 193.670 C 311.563 192.358,311.743 192.167,311.621 192.167 C 311.596 192.167,310.940 192.823,310.163 193.625 M339.893 197.667 C 339.893 198.537,339.922 198.894,339.956 198.458 C 339.990 198.023,339.990 197.310,339.956 196.875 C 339.922 196.440,339.893 196.796,339.893 197.667 M339.894 200.917 C 339.895 201.833,339.923 202.187,339.956 201.703 C 339.990 201.218,339.990 200.468,339.956 200.036 C 339.921 199.604,339.894 200.000,339.894 200.917 M107.383 204.667 C 107.383 205.171,107.415 205.377,107.453 205.125 C 107.491 204.873,107.491 204.460,107.453 204.208 C 107.415 203.956,107.383 204.162,107.383 204.667 M339.712 206.167 C 339.712 206.579,339.745 206.748,339.784 206.542 C 339.824 206.335,339.824 205.998,339.784 205.792 C 339.745 205.585,339.712 205.754,339.712 206.167 M154.333 206.408 C 154.333 206.454,154.558 206.608,154.833 206.750 C 155.108 206.892,155.333 206.971,155.333 206.925 C 155.333 206.879,155.108 206.726,154.833 206.583 C 154.558 206.441,154.333 206.362,154.333 206.408 M107.705 210.000 C 107.705 210.321,107.740 210.452,107.782 210.292 C 107.823 210.131,107.823 209.869,107.782 209.708 C 107.740 209.548,107.705 209.679,107.705 210.000 M210.542 221.948 C 210.702 221.990,210.965 221.990,211.125 221.948 C 211.285 221.906,211.154 221.872,210.833 221.872 C 210.512 221.872,210.381 221.906,210.542 221.948 M236.127 221.951 C 236.334 221.991,236.634 221.990,236.794 221.948 C 236.953 221.906,236.783 221.874,236.417 221.875 C 236.050 221.877,235.920 221.911,236.127 221.951 M212.958 222.118 C 213.165 222.157,213.502 222.157,213.708 222.118 C 213.915 222.078,213.746 222.045,213.333 222.045 C 212.921 222.045,212.752 222.078,212.958 222.118 M233.544 222.120 C 233.797 222.158,234.172 222.157,234.377 222.117 C 234.582 222.078,234.375 222.046,233.917 222.048 C 233.458 222.049,233.291 222.081,233.544 222.120 M216.125 222.287 C 216.423 222.324,216.910 222.324,217.208 222.287 C 217.506 222.250,217.262 222.220,216.667 222.220 C 216.071 222.220,215.827 222.250,216.125 222.287 M229.955 222.287 C 230.250 222.324,230.775 222.324,231.121 222.288 C 231.467 222.252,231.225 222.222,230.583 222.221 C 229.942 222.221,229.659 222.250,229.955 222.287 M222.300 222.457 C 223.060 222.488,224.260 222.488,224.966 222.457 C 225.672 222.426,225.050 222.401,223.583 222.401 C 222.117 222.401,221.539 222.427,222.300 222.457 M305.828 281.625 L 304.917 282.583 305.875 281.672 C 306.402 281.171,306.833 280.740,306.833 280.714 C 306.833 280.590,306.674 280.735,305.828 281.625 M144.000 284.250 C 144.311 284.571,144.603 284.833,144.649 284.833 C 144.695 284.833,144.478 284.571,144.167 284.250 C 143.856 283.929,143.564 283.667,143.518 283.667 C 143.472 283.667,143.689 283.929,144.000 284.250 M218.042 315.615 C 218.202 315.657,218.465 315.657,218.625 315.615 C 218.785 315.573,218.654 315.539,218.333 315.539 C 218.012 315.539,217.881 315.573,218.042 315.615 " stroke="none" fill="#d7c172" fill-rule="evenodd"></path>
  <path id="path3" d="M169.000 94.580 C 167.946 94.886,164.983 95.713,162.417 96.418 C 154.596 98.566,148.900 100.134,145.750 101.005 C 144.100 101.462,141.775 102.101,140.583 102.426 C 136.209 103.621,132.991 104.503,129.083 105.582 C 120.985 107.816,109.826 110.889,106.667 111.755 L 103.417 112.645 99.510 116.614 C 97.362 118.797,89.789 126.471,82.683 133.667 C 75.577 140.862,68.137 148.400,66.150 150.417 L 62.538 154.083 63.250 156.667 C 64.155 159.950,65.143 163.546,71.196 185.583 C 72.303 189.617,73.321 193.346,73.457 193.870 C 73.611 194.460,73.811 194.857,73.984 194.912 C 74.137 194.960,75.835 195.406,77.756 195.902 C 79.678 196.399,83.162 197.305,85.500 197.915 C 87.837 198.526,91.287 199.427,93.167 199.917 C 95.046 200.407,99.208 201.493,102.417 202.331 C 105.625 203.169,112.000 204.829,116.583 206.020 C 121.167 207.211,126.067 208.486,127.472 208.853 L 130.027 209.521 137.972 207.350 C 142.342 206.156,147.679 204.693,149.833 204.099 C 157.885 201.876,164.278 200.117,171.083 198.251 C 175.996 196.904,183.361 194.880,189.917 193.077 C 193.492 192.093,196.721 191.205,197.093 191.102 C 197.685 190.940,200.240 188.413,217.670 170.750 C 228.616 159.658,237.826 150.341,238.138 150.045 C 238.453 149.747,238.666 149.405,238.617 149.278 C 238.568 149.151,238.227 147.931,237.859 146.566 C 237.491 145.200,236.691 142.283,236.082 140.083 C 235.473 137.883,234.649 134.883,234.253 133.417 C 233.259 129.745,231.247 122.434,230.676 120.417 C 230.229 118.836,228.841 113.751,227.930 110.353 C 227.421 108.451,228.006 108.827,223.903 107.762 C 221.986 107.263,218.692 106.406,216.583 105.856 C 214.475 105.306,209.150 103.918,204.750 102.773 C 200.350 101.628,190.986 99.185,183.942 97.345 C 176.897 95.505,171.085 94.005,171.025 94.011 C 170.965 94.018,170.054 94.273,169.000 94.580 M183.394 99.849 C 190.098 101.599,197.383 103.500,199.583 104.074 C 218.772 109.074,225.143 110.746,225.116 110.773 C 225.098 110.790,222.571 111.114,219.500 111.493 C 216.429 111.873,212.792 112.328,211.417 112.505 C 210.042 112.682,206.479 113.130,203.500 113.500 C 200.521 113.871,196.058 114.432,193.583 114.747 C 189.394 115.281,185.134 115.811,182.167 116.168 C 175.539 116.966,143.602 121.009,143.554 121.057 C 143.520 121.091,144.263 121.347,145.204 121.625 C 146.146 121.904,149.429 122.893,152.500 123.824 C 159.658 125.993,163.431 127.133,179.000 131.832 C 192.326 135.853,196.109 136.996,201.917 138.756 C 209.781 141.140,227.681 146.546,231.462 147.680 C 233.687 148.347,235.487 148.949,235.462 149.018 C 235.437 149.087,230.536 154.080,224.571 160.114 C 218.606 166.147,209.843 175.021,205.098 179.833 C 200.353 184.646,196.389 188.583,196.288 188.583 C 196.187 188.583,194.600 186.666,192.761 184.322 C 188.219 178.535,181.524 169.984,175.023 161.667 C 172.050 157.862,169.228 154.262,168.752 153.667 C 168.276 153.071,165.575 149.621,162.749 146.000 C 159.923 142.379,157.211 138.910,156.722 138.292 C 154.565 135.561,153.886 134.697,151.000 131.000 C 149.318 128.846,147.555 126.596,147.083 126.000 C 144.570 122.829,143.333 121.192,143.333 121.036 C 143.333 120.940,148.443 116.374,154.688 110.889 C 170.308 97.171,170.889 96.667,171.057 96.667 C 171.138 96.667,176.690 98.099,183.394 99.849 M113.514 116.172 C 118.044 116.909,122.912 117.695,124.333 117.919 C 125.754 118.143,128.942 118.659,131.417 119.065 C 135.693 119.766,138.561 120.224,141.621 120.695 C 142.428 120.819,143.026 120.995,143.076 121.124 C 143.152 121.323,142.496 125.801,139.653 144.500 C 139.102 148.121,138.354 153.071,137.990 155.500 C 137.626 157.929,137.070 161.604,136.753 163.667 C 136.437 165.729,135.729 170.379,135.179 174.000 C 133.135 187.484,132.151 193.981,131.812 196.250 C 130.867 202.559,130.201 206.688,130.113 206.776 C 130.025 206.863,127.752 206.304,120.583 204.431 C 109.773 201.606,105.867 200.585,104.583 200.247 C 103.758 200.030,97.871 198.494,91.500 196.834 C 85.129 195.175,79.036 193.586,77.961 193.304 L 76.005 192.792 78.369 190.271 C 79.670 188.884,81.758 186.662,83.010 185.333 C 84.261 184.004,89.140 178.788,93.851 173.742 C 98.562 168.695,105.604 161.162,109.500 157.001 C 113.396 152.840,119.396 146.427,122.833 142.749 C 133.768 131.051,140.885 123.450,141.946 122.335 C 142.512 121.740,142.953 121.231,142.925 121.203 C 142.881 121.159,136.751 123.777,129.167 127.080 C 125.279 128.772,119.212 131.403,96.667 141.171 C 69.977 152.735,66.682 154.160,66.167 154.360 C 65.656 154.559,64.961 155.274,87.058 132.880 C 96.852 122.954,104.959 114.833,105.072 114.833 C 105.186 114.833,108.985 115.436,113.514 116.172 " stroke="none" fill="#4ba7d1" fill-rule="evenodd"></path>
  <path id="path4" d="M350.583 84.581 C 350.033 84.709,347.408 85.264,344.750 85.813 C 338.993 87.003,333.454 88.150,320.917 90.751 C 304.519 94.152,292.475 96.618,289.917 97.097 C 287.204 97.605,285.965 98.557,284.687 101.117 C 283.859 102.772,282.520 108.401,279.915 121.167 C 279.512 123.138,278.726 126.962,278.167 129.667 C 273.999 149.832,262.299 208.301,262.370 208.612 C 262.487 209.126,273.505 204.872,277.874 202.626 C 280.944 201.048,280.856 201.174,281.495 197.500 C 281.790 195.804,282.287 193.029,282.599 191.333 C 283.285 187.598,283.856 184.477,285.174 177.250 C 286.624 169.304,288.167 160.920,289.668 152.833 C 289.931 151.412,290.606 147.775,291.168 144.750 C 295.269 122.647,296.480 116.719,297.180 115.317 C 298.469 112.735,297.566 113.064,311.083 110.252 C 313.467 109.756,316.692 109.081,318.250 108.752 C 319.808 108.424,321.983 107.966,323.083 107.736 C 324.183 107.506,326.846 106.950,329.000 106.500 C 331.154 106.049,335.617 105.112,338.917 104.416 C 342.217 103.721,347.279 102.664,350.167 102.067 C 355.902 100.881,356.700 100.607,357.895 99.412 C 359.504 97.803,360.098 96.069,359.948 93.417 C 359.577 86.874,355.847 83.355,350.583 84.581 " stroke="none" fill="#fb4ca4" fill-rule="evenodd"></path>
</g>

<g id="Person">
	<g>
		<g>
			<path class="st1" d="M178.8,179.7c-1.9-1.6-3.7-3.4-5.2-5.3c-9.2,7.4-18.5,14.8-27.8,22.1c3.2,4,6.9,7.6,10.8,10.9
				c6.5,5.4,13.8,9.7,21.8,12.8c4.8,1.9,9.9,3.3,15.1,4.2c1.7-11.7,3.5-23.4,5.3-35.1c-2.6-0.5-5.2-1.2-7.6-2.2
				C186.7,185.3,182.5,182.8,178.8,179.7z"/>
			<path class="st1" d="M166.1,131.9c1.6-4.5,4-8.6,6.9-12.3c1.8-2.2,3.7-4.2,5.9-6c-7.5-9.2-15-18.4-22.4-27.6
				c-4.1,3.4-7.9,7.2-11.2,11.4c-5.2,6.5-9.4,13.8-12.4,21.7c-1.8,4.9-3.2,10-4,15.2c11.7,1.7,23.4,3.5,35.1,5.4
				C164.6,137,165.2,134.4,166.1,131.9z"/>
			<path class="st1" d="M249.6,154c-0.5,2.9-1.3,5.7-2.3,8.4c-1.8,4.6-4.4,8.9-7.6,12.6c-1.7,1.9-3.5,3.7-5.5,5.3
				c7.4,9.2,14.8,18.5,22.1,27.7c4.1-3.3,7.8-6.9,11.1-10.9c5.4-6.5,9.8-13.9,12.9-22c2-5.1,3.4-10.3,4.3-15.8
				C273,157.5,261.3,155.7,249.6,154z"/>
			<path class="st1" d="M240.4,119.2c9.2-7.5,18.4-14.9,27.6-22.3c-3.4-4.2-7.3-8-11.5-11.5c-6.6-5.3-14-9.6-22-12.6
				c-5-1.9-10.3-3.3-15.7-4.1c-1.1,7.8-2.3,15.6-3.4,23.5c-0.6,3.9-1.2,7.8-1.8,11.7c2.8,0.4,5.5,1.1,8.1,2.1
				c4.6,1.7,8.8,4.1,12.5,7.1C236.4,114.8,238.5,116.9,240.4,119.2z"/>
		</g>
		<g>
			<path class="st2" d="M284.8,134.5c-0.9-5.5-2.3-10.8-4.2-15.9c-3-8-7.3-15.3-12.6-21.8c-9.2,7.4-18.4,14.9-27.6,22.3
				c3,3.6,5.4,7.8,7.1,12.3c1,2.8,1.8,5.6,2.3,8.6c0.3,2.2,0.5,4.4,0.5,6.6c0,2.5-0.2,4.9-0.6,7.3c11.7,1.8,23.4,3.6,35.1,5.3
				c0.7-4.1,1-8.3,1-12.6C285.7,142.5,285.4,138.5,284.8,134.5z"/>
			<path class="st2" d="M206.9,103.3c2.3,0,4.5,0.2,6.6,0.5c0.6-3.9,1.2-7.8,1.8-11.7c1.1-7.8,2.3-15.6,3.4-23.5
				c-3.9-0.6-7.8-0.9-11.8-0.9c-4.5,0-8.9,0.4-13.2,1.1c-5.3,0.9-10.5,2.3-15.4,4.3c-7.9,3.1-15.2,7.4-21.7,12.7
				c7.4,9.2,14.9,18.4,22.4,27.6c3.6-3,7.7-5.5,12.1-7.2c2.6-1,5.3-1.8,8.2-2.3C201.7,103.6,204.3,103.3,206.9,103.3z"/>
			<path class="st2" d="M221.5,187.5c-2.4,0.9-5,1.5-7.6,1.9c-2.3,0.4-4.6,0.6-7,0.6c-2.7,0-5.4-0.3-8-0.8
				c-1.8,11.7-3.6,23.4-5.3,35.1c4.3,0.7,8.8,1.1,13.4,1.1c4.2,0,8.3-0.3,12.3-1c5.2-0.8,10.3-2.1,15.1-3.9
				c8.1-3,15.5-7.3,22.1-12.6c-7.3-9.3-14.7-18.5-22.1-27.7C230.4,183.4,226.1,185.8,221.5,187.5z"/>
			<path class="st2" d="M164.3,154.6c-0.5-2.6-0.7-5.2-0.7-7.9c0-2.4,0.2-4.7,0.6-7c-11.7-1.9-23.4-3.6-35.1-5.4
				c-0.6,4-1,8.2-1,12.4c0,4.5,0.4,8.9,1.1,13.1c0.9,5.2,2.2,10.2,4.1,14.9c3,8,7.3,15.3,12.6,21.8c9.3-7.3,18.5-14.7,27.8-22.1
				c-3.1-3.7-5.5-7.9-7.3-12.5C165.4,159.6,164.8,157.1,164.3,154.6z"/>
		</g>
	</g>
	<path class="st3" d="M185.9,98.5c0,0-22.7,6.4-21.7-15.5c1-20.8,12.7-11.2,10.6-24.6c-2.5-16.2,21-24.6,31.2-18.2
		s10.8,12.3,24.7,9.7s20.1,12.9,15.8,21s-6.4,8.1-2.6,15.1s-8.9,23.4-20.7,8.8S185.9,98.5,185.9,98.5z"/>
	<g>
		<g>
			<path class="st4" d="M218.7,124.4c1.8-0.2,3.7-0.2,5.5-0.2c2,0,4,0.1,6,0.3c0.6,0.1,1.3,0.2,2,0.2c0.6,0-2.6-0.5-0.5-0.1
				c1.4,0.3,2.7,0.5,4.1,0.8c2.9,0.6,5.7,1.4,8.5,2.4c0.8,0.3,1.6,0.6,2.5,0.9c-1.7-0.7-0.8-0.4,0.3,0.2c1.6,0.8,3.1,1.5,4.6,2.4
				c1.4,0.8,2.8,1.8,4.2,2.7c1.7,1.1,0.1,0,0.6,0.4c0.8,0.7,1.6,1.3,2.4,2c1.5,1.3,2.9,2.8,4.2,4.2c0.6,0.7,1.3,1.4,1.9,2.2
				c0.8,0.9-0.1-0.1-0.2-0.2c0.4,0.5,0.8,1.1,1.2,1.6c6.3,9.1,9.5,18.5,11,30.1c0.8,5.8,4.4,10.8,10.8,10.8c5.2,0,11.6-5,10.8-10.8
				c-3.1-23.1-11.7-44.4-31-58.4c-11.6-8.5-26.2-12.6-40.4-13.3c-2.7-0.1-5.5-0.2-8.2,0.1c-5.8,0.7-10.8,4.5-10.8,10.8
				C207.9,118.9,212.9,125,218.7,124.4L218.7,124.4z"/>
		</g>
	</g>
	<g>
		<g>
			<path class="st4" d="M203.1,106.9c-9.3-2.6-20.1-1.6-29.4,0.5c-23,5.2-42.3,20.9-56.8,38.9c-3.7,4.5-4.4,10.8,0,15.3
				c3.8,3.8,11.6,4.6,15.3,0c12.7-15.7,28.4-29.1,47.3-33.4c1.5-0.3,3-0.6,4.5-0.9c2.5-0.5-1.8,0.1,0.4,0c0.8,0,1.5-0.1,2.3-0.2
				c2.4-0.2,4.7-0.2,7.1,0c0.8,0.1,1.6,0.2,2.4,0.2c0.9,0-3-0.6-0.5,0c0.6,0.1,1.1,0.2,1.7,0.4C210.8,131.4,216.5,110.6,203.1,106.9
				L203.1,106.9z"/>
		</g>
	</g>
	<g>
		<g>
			<path class="st4" d="M203.7,164.5c-16.9,1.6-33.1,11-39.3,27.4c-5.4,14.2-1.7,31.6,0.3,46.1c1.1,8.1,2.4,16.2,4.5,24.1
				c3.7,14.5,26.3,8.4,22.5-6.2c-1.6-6.3-2.7-12.7-3.7-19.1c-1-6.3-1.7-12.8-2.2-19.4c-0.3-3.6-0.6-7.1-0.6-10.7
				c0-1.2,0-2.5,0.2-3.7c-0.3,2.1,0.4-1.5,0.5-1.9c0.1-0.4,1.2-3.3,0.6-2c-0.5,1.2,1-1.8,1.2-2.1c0.3-0.6,2.2-2.6,0.4-0.7
				c0.6-0.7,1.2-1.3,1.8-2c0.6-0.6,1.3-1.2,2-1.7c-2.3,1.9,0.2,0,0.8-0.4c1.5-0.9,3-1.7,4.6-2.5c-3,1.6,0.9-0.3,1.9-0.6
				c1.3-0.4,2.6-0.8,3.9-1.1c0.8-0.2,1.6-0.3,2.4-0.5c2.1-0.5-3.4,0.4-1.8,0.2c6.3-0.6,11.7-4.9,11.7-11.7
				C215.4,170.3,210,163.8,203.7,164.5L203.7,164.5z"/>
		</g>
	</g>
	<g>
		<g>
			<path class="st4" d="M221.2,159.5c-8.3,12.4-10,30.5-9.8,44.8c0.2,18.4,0.3,34.8-4,51.6c-3.7,14.6,18.8,20.8,22.5,6.2
				c4.3-16.8,5.4-34.9,5-52.1c-0.3-10.9-0.1-20,2.9-30.1c0.5-1.7,1.2-3.3,1.7-5c0.6-2-0.8,1.7-0.2,0.5c0.2-0.4,0.4-0.9,0.6-1.3
				c0.5-0.9,0.9-1.9,1.5-2.8c3.5-5.2,1-12.9-4.2-16C231.5,152,224.8,154.3,221.2,159.5L221.2,159.5z"/>
		</g>
	</g>
	<path class="st5" d="M210,187.4l-0.9,11.2l27.8-1.7c0,0,2.4-20.6,5.1-24.9c2.8-4.4-7.8-9.8-7.8-9.8L210,187.4z"/>
	<polygon class="st5" points="173.6,174.4 166.8,179.8 192.1,197 198.8,189 198.8,174.4 	"/>
	<path class="st4" d="M249.7,140.1c-0.5-3-1.2-5.9-2.3-8.6c-1.7-4.5-4.1-8.6-7.1-12.3c-1.9-2.3-3.9-4.3-6.2-6.1
		c-3.7-3-7.9-5.4-12.5-7.1c-2.6-0.9-5.3-1.6-8.1-2.1c-2.2-0.3-4.4-0.5-6.6-0.5c-2.6,0-5.1,0.2-7.6,0.7c-2.8,0.5-5.6,1.3-8.2,2.3
		c-4.5,1.7-8.5,4.2-12.1,7.2c-2.1,1.8-4.1,3.8-5.9,6c-2.9,3.7-5.3,7.8-6.9,12.3c-0.9,2.5-1.6,5.1-2,7.8c-0.4,2.3-0.6,4.6-0.6,7h86.7
		C250.2,144.4,250,142.2,249.7,140.1z"/>
	<path class="st6" d="M197.9,110.2L197.9,110.2c0,0-5.7-3.9-7.2-3.7s-5.9,2.9-5.9,2.9c-2.1,1.2-4,2.6-5.9,4.2
		c-2.1,1.8-4.1,3.8-5.9,6c-2.9,3.7-5.3,7.8-6.9,12.3c-0.9,2.5-1.6,5.1-2,7.8c-0.4,2.3-0.6,4.6-0.6,7h10
		c5.4-36.3,32.4-35.6,32.4-35.6L197.9,110.2z"/>
	<g>
		<path class="st7" d="M173.6,146.7c0,0-0.2,1.7-0.1,4.3H250c0.1-1.4,0.2-2.9,0.2-4.3H173.6z"/>
		<path class="st5" d="M173.5,151h-9.7c0.1,1.2,0.3,2.4,0.5,3.6c0.5,2.5,1.1,5,2,7.3c1.7,4.6,4.2,8.8,7.3,12.5
			c1.6,1.9,3.3,3.7,5.2,5.3c3.7,3.1,7.9,5.6,12.4,7.4c2.4,0.9,5,1.7,7.6,2.2c2.2,0.4,4.4,0.6,6.6,0.7c0.5,0,0.9,0,1.4,0
			c2.4,0,4.7-0.2,7-0.6c2.6-0.4,5.1-1.1,7.6-1.9c4.7-1.7,9-4.1,12.7-7.2c2-1.6,3.8-3.4,5.5-5.3c3.2-3.7,5.8-8,7.6-12.6
			c1-2.7,1.8-5.5,2.3-8.4c0.2-1,0.3-2,0.4-3H173.5z"/>
		<path class="st8" d="M163.8,151h9.7c-0.1-2.7,0.1-4.3,0.1-4.3h-10C163.6,148.1,163.6,149.6,163.8,151z"/>
	</g>
	<path class="st9" d="M173.5,151h-9.7c0.1,1.2,0.3,2.4,0.5,3.6c0.5,2.5,1.1,5,2,7.3c1.7,4.6,4.2,8.8,7.3,12.5
		c1.6,1.9,3.3,3.7,5.2,5.3c3.7,3.1,7.9,5.6,12.4,7.4c2.4,0.9,5,1.7,7.6,2.2c2.2,0.4,4.4,0.6,6.6,0.7
		C177.7,183.1,173.8,160.5,173.5,151z"/>
	<path class="st6" d="M183.9,90.7c0-13.5,10.2-24.4,22.7-24.4s0.3,8.9,0.3,22.4s21.7,18.4,0,22.3
		C194.5,113.1,183.9,104.2,183.9,90.7z"/>
	<circle class="st4" cx="180.4" cy="88.7" r="8.1"/>
	<circle class="st4" cx="231.3" cy="88.7" r="8.1"/>
	<path class="st6" d="M185.9,90.7"/>
	<g>
		<g>
			<path class="st6" d="M179.3,91.3c18.3,0,36.6,0,54.9,0c3.2,0,3.2-5,0-5c-18.3,0-36.6,0-54.9,0C176.1,86.3,176.1,91.3,179.3,91.3
				L179.3,91.3z"/>
		</g>
	</g>
	<circle class="st4" cx="206.9" cy="86" r="24.4"/>
	<g>
		<g>
			<path class="st10" d="M191.1,89.3c2.1,1.7,4.9,1.8,7,0c0.7-0.6-0.3-1.6-1-1c-1,0.9-2.3,1.2-3.6,0.7c-0.4-0.1-0.7-0.3-1-0.5
				c-0.1,0-0.6-0.4-0.4-0.2C191.4,87.7,190.4,88.7,191.1,89.3L191.1,89.3z"/>
		</g>
	</g>
	<g>
		<g>
			<path class="st10" d="M216.7,89.3c2.1,1.7,4.9,1.8,7,0c0.7-0.6-0.3-1.6-1-1c-1,0.9-2.3,1.2-3.6,0.7c-0.4-0.1-0.7-0.3-1-0.5
				c-0.1,0-0.6-0.4-0.4-0.2C217,87.7,215.9,88.7,216.7,89.3L216.7,89.3z"/>
		</g>
	</g>
	<g>
		<g>
			<path class="st6" d="M203.4,100c2.1,1.7,4.9,1.8,7,0c0.7-0.6-0.3-1.6-1-1c-1,0.9-2.3,1.2-3.6,0.7c-0.4-0.1-0.7-0.3-1-0.5
				c-0.1,0-0.6-0.4-0.4-0.2C203.7,98.4,202.6,99.4,203.4,100L203.4,100z"/>
		</g>
	</g>
	<g>
		<g>
			<path class="st11" d="M190.3,82.5c1.9-1.2,4.4-1.2,6.5-0.8c1.1,0.3,1.6-1.5,0.5-1.7c-2.6-0.6-5.6-0.5-7.9,0.9
				C188.5,81.6,189.4,83.1,190.3,82.5L190.3,82.5z"/>
		</g>
	</g>
	<g>
		<g>
			<path class="st11" d="M217,82.6c-0.3,0.1,0.3-0.1,0.4-0.1c0.5-0.1,0.9-0.2,1.4-0.3c1.6-0.2,3.2,0.2,4.7,0.8
				c1.1,0.4,1.5-1.3,0.5-1.7c-2.5-1-5.4-1.3-7.9-0.2C215,81.5,215.9,83.1,217,82.6L217,82.6z"/>
		</g>
	</g>
	<path class="st6" d="M202.7,90.4c0,0.4,0,0.7,0,1.1c0.5,7.7,8.6,6.6,8.2-1.2c0-0.1,0-0.3,0-0.4C210.5,82.5,202.7,83,202.7,90.4z"/>
	<g>
		<g>
			<path class="st6" d="M209,140.8c-0.6,0.6-1.2,1.3-1.8,1.9c-0.3,0.3,0.2,0.8,0.5,0.5c0.6-0.6,1.2-1.3,1.8-1.9
				C209.8,141,209.3,140.5,209,140.8L209,140.8z"/>
		</g>
	</g>
	<g>
		<g>
			<path class="st6" d="M209.6,142.7c-0.6-0.6-1.3-1.2-1.9-1.8c-0.3-0.3-0.8,0.2-0.5,0.5c0.6,0.6,1.3,1.2,1.9,1.8
				C209.4,143.5,209.9,143,209.6,142.7L209.6,142.7z"/>
		</g>
	</g>
	<path class="st3" d="M183,80.9c0,0,15.4-1.8,24.4-11.6c0,0,15.5,11.9,23.3,11.3c7.8-0.6-0.8-17.9-0.8-17.9l-32.8-6.9l-17,15.6
		l1.6,7.5L183,80.9z"/>
	<path class="st1" d="M232.8,59l0.9,1.9c0.2,0.5,0.7,0.8,1.3,0.9l2.1,0.3c1.4,0.2,1.9,1.9,0.9,2.9l-1.5,1.5
		c-0.4,0.4-0.6,0.9-0.5,1.5l0.4,2.1c0.2,1.4-1.2,2.4-2.5,1.8l-1.9-1c-0.5-0.3-1.1-0.3-1.6,0l-1.9,1c-1.2,0.7-2.7-0.4-2.5-1.8
		l0.4-2.1c0.1-0.5-0.1-1.1-0.5-1.5l-1.5-1.5c-1-1-0.5-2.7,0.9-2.9l2.1-0.3c0.6-0.1,1-0.4,1.3-0.9l0.9-1.9
		C230.4,57.8,232.2,57.8,232.8,59z"/>
	<circle class="st2" cx="231.3" cy="65.1" r="1.5"/>
</g>
<g id="duck">
	<circle class="st0" cx="96.8" cy="70.5" r="12.8"/>
	<circle class="st12" cx="99" cy="66.9" r="12.8"/>
	<circle class="st10" cx="82.7" cy="65.6" r="1.3"/>
	<path class="st1" d="M84.3,69.3L82,73.8c-0.5,1,0.6,2.1,1.6,1.6l5.4-3c0.8-0.5,0.8-1.7-0.1-2.1l-3.1-1.5
		C85.3,68.5,84.6,68.7,84.3,69.3z"/>
	<circle class="st13" cx="92.7" cy="65.6" r="8.2"/>
	<circle class="st12" cx="90.8" cy="63.9" r="8.2"/>
	<circle class="st10" cx="92.2" cy="69.2" r="1.3"/>
</g>
<g id="flower1">
	<path class="st12" d="M282.6,235.8l0.7,2c0.2,0.5,0.6,0.9,1.2,1l2.1,0.5c1.4,0.3,1.7,2.1,0.7,3l-1.7,1.3c-0.4,0.3-0.7,0.9-0.6,1.4
		l0.2,2.1c0.1,1.4-1.4,2.3-2.6,1.5l-1.8-1.2c-0.5-0.3-1.1-0.4-1.6-0.2l-2,0.8c-1.3,0.5-2.6-0.7-2.3-2l0.6-2c0.1-0.5,0-1.1-0.3-1.5
		l-1.4-1.6c-0.9-1.1-0.2-2.7,1.2-2.8l2.1-0.1c0.6,0,1.1-0.3,1.4-0.8l1.1-1.8C280.3,234.3,282.1,234.5,282.6,235.8z"/>
	
		<ellipse transform="matrix(9.722645e-02 -0.9953 0.9953 9.722645e-02 12.6479 497.3755)" class="st2" cx="280.5" cy="241.7" rx="1.5" ry="1.5"/>
</g>
<g id="flower2">
	<path class="st5" d="M311.7,205.8l1.6,4.3c0.4,1.1,1.4,2,2.5,2.2l4.4,1.1c2.9,0.7,3.8,4.5,1.4,6.4l-3.6,2.8
		c-0.9,0.7-1.4,1.9-1.4,3.1l0.3,4.5c0.2,3-3.1,5-5.6,3.3l-3.8-2.5c-1-0.7-2.3-0.8-3.4-0.3l-4.2,1.7c-2.8,1.1-5.7-1.4-4.9-4.3
		l1.2-4.4c0.3-1.2,0-2.4-0.7-3.3l-2.9-3.5c-1.9-2.3-0.4-5.8,2.6-6l4.5-0.2c1.2-0.1,2.3-0.7,2.9-1.7l2.4-3.9
		C306.8,202.6,310.6,203,311.7,205.8z"/>
	
		<ellipse transform="matrix(9.722645e-02 -0.9953 0.9953 9.722645e-02 59.825 502.9443)" class="st2" cx="307.1" cy="218.5" rx="3.2" ry="3.2"/>
</g>
<g id="flower3">
	<path class="st1" d="M312.2,247.8l-0.7,2.7c-0.2,0.7,0,1.5,0.5,2l1.8,2.1c1.2,1.4,0.3,3.6-1.6,3.7l-2.8,0.2c-0.7,0-1.4,0.4-1.8,1.1
		l-1.5,2.4c-1,1.6-3.3,1.4-4-0.4l-1-2.6c-0.3-0.7-0.9-1.2-1.6-1.4l-2.7-0.6c-1.8-0.4-2.3-2.7-0.9-3.9l2.2-1.8
		c0.6-0.5,0.9-1.2,0.8-1.9l-0.2-2.8c-0.1-1.9,1.9-3.1,3.4-2.1l2.4,1.5c0.6,0.4,1.4,0.5,2.1,0.2l2.6-1.1
		C310.8,244.4,312.6,246,312.2,247.8z"/>
	<ellipse transform="matrix(0.6574 -0.7535 0.7535 0.6574 -85.6437 316.6121)" class="st2" cx="305.4" cy="252.5" rx="2" ry="2"/>
</g>
</svg>
</div>
