<div class="row">
    <div class="col-md-8 mb-4 mb-lg-0">
        <img src="/img/villas/cinco1.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>

    <div class="col-md-4 mb-4 mb-lg-0">
        <img src="/img/villas/cinco2.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />

        <img src="/img/villas/cinco3.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>
</div>
<div class="row pt-4">
    <div class="col-md-4 order-md-last">

        <img src="/img/villas/cinco4.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />

        <img src="/img/villas/cinco5.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />            

    </div>
    <div class="col-md-8">
        <div class="">
            <p>We will be based at CMC villas for the duration of the celebrations, where we are taking over 4 villas each with their own pools and facilities.</p>
            <p>Cost: €200 per person</p>
            <p>This includes:</p>
            <ul>
                <li>4 nights, including breakfast</li>
                <li>Mixture of double and twin rooms</li>
                <li>En-suite</li>
                <li>Swimming pool</li>
                <li>Table tennis</li>
                <li>Kitchen</li>
            </ul>
            <p>
                In your RSVP please let us know if you would like to be added to the waiting list for one of these and we'll confirm to you on a first come first served basis. We will do everything we can to allow for everyone who wants to be on site to have a space. If you are in a twin we will chat to you about who to bunk with!
            </p>
            <p class="text-center fw-bold">~~~</p>
            <p>
                There are a variety of unaffiliated smaller villas in the immediate area (minutes walk away) for those wanting some more privacy, a slightly cheaper option, only able to stay for a couple of nights or for those who want some additional space.
            
            </p>
            <p>
                Additionally, there are of course Airbnbs and hotels in the town of Lagos. It is an approximately 10 minute taxi ride from the town centre to the villas. It is approximately 30-40 minutes walking, but fairly hilly so only advise this for those who are after a cardio workout!
            </p>
        </div>
    </div>
</div>