<div class="row">
    <div class="col-md-8 mb-4 mb-lg-0">
        <img src="/img/villas/tres1.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>

    <div class="col-md-4 mb-4 mb-lg-0">
        <img src="/img/villas/tres2.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />

        <img src="/img/villas/tres3.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>
</div>
<div class="mt-4 mb-4">
    <p>We will be based at CMC villas for the duration of the celebrations, where we are taking over 4 villas each with their own pools and facilities.</p>
    <p>We've provisionally reserved you accommodation in the villa with the rest of the Westbrook party, if you would like it.</p>
    <p>Cost: €200 per person</p>
    <p>This includes:</p>
    <ul>
        <li>4 nights, including breakfast</li>
        <li>Mixture of double and twin rooms</li>
        <li>Infinity pool</li>
        <li>Table tennis</li>
        <li>Kitchen</li>
        <li>Hammocks</li>
        <li>Sea view</li>
    </ul>
</div>
<div class="row"> 
    <div class="col-md-4 mb-4 mb-lg-0">
        <img src="/img/villas/tres4.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>

    <div class="col-md-4 mb-4 mb-lg-0">
        <img src="/img/villas/tres5.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>

    <div class="col-md-4 mb-4 mb-lg-0">
        <img src="/img/villas/tres6.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>
</div>