<div class="row">
    <div class="col-md-8 mb-4 mb-lg-0">
        <img src="https://www.casamontecristocollection.com/wp-content/uploads/2020/04/CMC_TOO_7.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>

    <div class="col-md-4 mb-4 mb-lg-0">
        <img src="https://www.casamontecristocollection.com/wp-content/uploads/2020/04/CMC_TOO_5-1024x683.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />

        <img src="https://www.casamontecristocollection.com/wp-content/uploads/2020/04/CMC_TOO_17-1024x683.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>
</div>
<div class="mt-4 mb-4">
    <p>We will be based at CMC villas for the duration of the celebrations, where we are taking over 4 villas each with their own pools and facilities.</p>
    <p>We've reserved you accommodation in the villa with the rest of the Knight party, if you would like it.</p>
    <p>Cost: €200 per person</p>
    <p>This includes:</p>
    <ul>
        <li>4 nights, including breakfast</li>
        <li>Mixture of double and twin rooms</li>
        <li>Pool</li>
        <li>Kitchen</li>
        <li>Sauna</li>
    </ul>
</div>
<div class="row"> 
    <div class="col-md-4 mb-4 mb-lg-0">
        <img src="https://www.casamontecristocollection.com/wp-content/uploads/2020/04/casa-monte-cristo-too-img-1024x679.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>

    <div class="col-md-4 mb-4 mb-lg-0">
        <img src="https://www.casamontecristocollection.com/wp-content/uploads/2020/04/CMC_TOO_4-1024x683.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>

    <div class="col-md-4 mb-4 mb-lg-0">
        <img src="https://www.casamontecristocollection.com/wp-content/uploads/2020/04/CMC_TOO_20-1024x683.jpg"
             class="w-100 shadow-1-strong rounded mb-4" />
    </div>
</div>