
@import 'https://fonts.googleapis.com/css?family=Rock+Salt';

html {
    font-size: 14px;
    color: white;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: white;
}

.img-center {
    margin: 0 auto;
    display: block;
}


/*  */
.section {
    min-height: 100vh;
}

.section-top-border {
    border-top: 20px double white;
}

.section-bottom-border {
    border-bottom: 20px double white;
}

.header {
    font-weight: bold;
    font-size: 1.7em;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px lightskyblue;
    margin-bottom: .2em;
}


.section-1 {
    background: lightskyblue;
    min-height: 80vh;
}

    .section-1 .header {
        text-shadow: 2px 2px violet;
    }

.name {
    font-size: 5em;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px violet;
}

.pre-header {
    font-weight: bold;
}

.sub-header {
    font-size: 25px;
    font-family: 'Rock Salt', sans-serif;
    margin-top: 10px
}

.section-blue {
    background: lightskyblue;
}

    .section-blue .header {
        text-shadow: 2px 2px violet;
    }

.section-pink {
    background-color: pink;
}

    .section-pink .header {
    }

.section-yellow {
    background-color: gold;
}

    .section-yellow .header {
        text-shadow: 2px 2px tomato;
    }

.section-purple {
    background-color: violet;
}

    .section-purple .header {
        text-shadow: 2px 2px orange;
    }

.section-green {
    background-color: mediumspringgreen;
}

    .section-green .header {
        text-shadow: 2px 2px salmon;
    }

.section-orange {
    background-color: darkorange;
}

    .section-orange .header {
        text-shadow: 2px 2px darkturquoise;
    }

/*.section-bg-img::after, .section-bg-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}*/

.section-bg-img {
    background: url("/img/CMC_Tres_39.jpg") no-repeat center center fixed;
    background-size: cover;
    /* Move underneath the backdrop's content. */
    z-index: -2;
    filter: blur(6px) brightness(0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.top-banner-header {
    font-family: 'Rock Salt', sans-serif;
}

.polaroid {
    padding: 10px 10px 15px 10px;
    background: #eee;
    border: 1px solid #fff;
    /*background: linear-gradient(120deg, #fff, #ddd 60%);*/
    box-shadow: 2px -2px 20px 0px rgba(0, 0, 0, 0.6), inset 4px 5px 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    -webkit-backface-visibility: hidden;
}

    .polaroid img {
        width: 100%;
        z-index: -1;
    }

    .polaroid .gloss {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(120deg, rgba(255, 255, 255, .6), transparent 60%, rgba(0, 0, 0, .5) 99%);
        box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .polaroid .polaroid-img {
        position: relative;
    }

    .polaroid .polaroid-text {
        color: black;
        text-align: center;
        letter-spacing: .1em;
        font-family: "Rock Salt", sans-serif;
        margin-top: 10px;
    }

.polaroid-r-r {
    transform: rotate(10deg);
}

.polaroid-r-l {
    transform: rotate(-15deg);
}

.polaroid-d {
    margin-top: 50px;
}

.polaroid-u {
    margin-top: -15px;
}
